# Lab 3 - Video Game Reviews

In [23]:
from math import nan

In [24]:
import pandas as pd

## Import Data

In [25]:
df = pd.read_csv('imdb-videogames.csv')

In [26]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [27]:
df.shape

(20805, 17)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [29]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

## Clean Data

Clean and Fix Rating

In [30]:
df[ df.rating=="*9.0"]
df.rating.replace("*9.0", 9.0, inplace=True)
df.rating = pd.to_numeric(df.rating)
df.rating.astype(float)
df.rating.fillna(0, inplace=True)

Clean and Fix Votes

In [31]:
df.votes = df.votes.str.replace(',', '')
df.votes = pd.to_numeric(df.votes)
df.votes.mean()

630.9875883468368

Fix Columns

In [32]:
df = df.drop("Unnamed: 0", axis=1)
df.columns = ['name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plotSummary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'SciFi', 'Thriller']

## Questions

### 1. What is the average rating for Action games?

In [33]:
action_games = df[df.Action == True]

action_games.rating.mean()

4.779391552128709

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [34]:
old_games = df[df.year < 2011]
old_rating = old_games.rating.mean()
new_games = df[df.year > 2010]
new_rating = new_games.rating.mean()

print("The avergae rating of old games is", old_rating)
print("The avergae rating of new games is", new_rating)

The avergae rating of old games is 4.4005175632106
The avergae rating of new games is 3.4159277879341783

### 3. What games include "Fallout" in their title?

In [35]:
fallout_games = df.name[df.name.str.contains(pat = "Fallout")]
fallout_games

29                                Fallout: New Vegas
37                                         Fallout 4
115                                        Fallout 3
207                                       Fallout 76
340        Fallout: A Post-Nuclear Role-Playing Game
437      Fallout 2: A Post-Nuclear Role-Playing Game
1062                           Fallout: The Frontier
1233           Fallout Tactics: Brotherhood of Steel
1872              Fallout: New Vegas - Honest Hearts
1964                            Fallout 4: New Vegas
2003                   Fallout: Brotherhood of Steel
2117            Fallout: New Vegas - Old World Blues
2170                       Fallout Legacy Collection
2362               Fallout: New Vegas - Simply Uncut
2472                           Fallout 4: Far Harbor
2549                 Fallout: New Vegas - Dead Money
2681                                  Fallout: Miami
2718                   Fallout 4: Fusion City Rising
2861                         Fallout: New California
3047              Fallout: New Vegas - Lonesome Road
3086                       Fallout 4: Heather Casdin
3127                        Fallout 3: Point Lookout
3141                 Fallout 3: Operation: Anchorage
3165                           Fallout 4: Nuka-World
3206                         Fallout 3: Broken Steel
3440                         Fallout 76: Steel Reign
3554                             Fallout 3: The Pitt
3615                      Fallout 3: Mothership Zeta
3719                          Fallout 76: Steel Dawn
3731              Fallout 76: Expeditions - The Pitt
4012                    Fallout 4: Capital Wasteland
4190                        Fallout 76: Wastelanders
5306                           Fallout 4: Automatron
8315                       Fallout 4 - Point Lookout
9821                               Fallout: Cascadia
10013                                      Fallout 4
10027                                      Fallout 3
10716                              Fallout 4: London
12535                  Fallout 4: Wasteland Workshop
13598                  Fallout 4: Vault-Tec Workshop
14919               Fallout 4: Contraptions Workshop
19373      Fallout: A Post-Nuclear Role-Playing Game
19425             Fallout New Vegas: Brave New World
19513                                Fallout Shelter
Name: name, dtype: object

### 4. What is the most common certificate for Sci-Fi games?

In [36]:
scifi_games = df[df.SciFi == True]

duplicate_scifi_certificates = scifi_games.certificate.value_counts()
most_common_scifi_certificate = duplicate_scifi_certificates[duplicate_scifi_certificates == duplicate_scifi_certificates.max()]
most_common_scifi_certificate

T    424
Name: certificate, dtype: int64

### 5. What percent of Thiller games have M or AO certificate?

In [37]:
thriller_m_ao = df[ (df.Thriller==True) & (df.certificate=='M') | (df.certificate=='AO') ]
thriller = df[ (df.Thriller==True)]


percent = ((len(thriller_m_ao)*100) / len(thriller))
print(percent, "percent")

38.24091778202677 percent

### 6. What is the mean and median rating for Family games? for Action games?

In [38]:
family_games = df[df.Family == True]

print(family_games.rating.mean(), "is the mean for family games.")
print(family_games.rating.median(), "is the median for family games.")
print(action_games.rating.mean(), "is the mean for action games.")
print(action_games.rating.median(), "is the median for action games.")

3.6560347826086903 is the mean for family games.
4.7 is the median for family games.
4.779391552128709 is the mean for action games.
6.5 is the median for action games.

### 7. Which game from 2018 got the most votes?

In [39]:
twenty_eighteen_games = df[df.year == 2018]
twenty_eighteen_games = twenty_eighteen_games[twenty_eighteen_games.votes == twenty_eighteen_games.votes.max()]
twenty_eighteen_games

,name,url,year,certificate,rating,votes,plotSummary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,SciFi,Thriller
15915,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,35709.0,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [40]:
action_games = df[df.Action == True]
adventure_games = df[df.Adventure == True]
comedy_games = df[df.Comedy == True]
crime_games = df[df.Crime == True]
family_games = df[df.Family == True]
fantasy_games = df[df.Fantasy == True]
mystery_games = df[df.Mystery == True]
thriller_games = df[df.Thriller == True]

print("the average rating of action games is", action_games.rating.mean())
print("the average rating of adventure games is", adventure_games.rating.mean())
print("the average rating of comedy games is", comedy_games.rating.mean())
print("the average rating of crime games is", crime_games.rating.mean())
print("the average rating of family games is", family_games.rating.mean())
print("the average rating of fantasy games is", fantasy_games.rating.mean())
print("the average rating of mystery games is", mystery_games.rating.mean())
print("the average rating of sci-fi games is", scifi_games.rating.mean())
print("the average rating of thriller games is", thriller_games.rating.mean())

the average rating of action games is 4.779391552128709
the average rating of adventure games is 4.57860874613003
the average rating of comedy games is 4.659887955182077
the average rating of crime games is 5.51698324022346
the average rating of family games is 3.6560347826086903
the average rating of fantasy games is 4.837816091954038
the average rating of mystery games is 4.495949367088605
the average rating of sci-fi games is 4.024373259052929
the average rating of thriller games is 4.946462715105163

### 9. Which year's games received the most votes?

In [41]:
year_votes = df.groupby("year").votes.sum()
year_vote_df = pd.DataFrame(year_votes)


most_votes = year_vote_df[year_vote_df == year_vote_df.max()]
most_votes.dropna()

           votes
year
2013.0  675033.0

### 10. What's the average number of votes for games that are not Action games?

In [42]:
not_action_games = df[df.Action != True]
not_action_games.votes.mean()

188.42715700141443

### 11. What games are platformers?

In [43]:
df[df.plotSummary.str.contains(pat = 'platformer')]

,name,url,year,certificate,rating,votes,plotSummary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,SciFi,Thriller
434,Sonic and the Fallen Star,https://www.imdb.com/title/tt15964560/?ref_=ad...,2021.0,E,8.3,11.0,Sonic and The Fallen Star is a 2D speed-based ...,True,True,False,False,True,False,False,False,False
838,A Hat in Time,https://www.imdb.com/title/tt3642956/?ref_=adv...,2017.0,E10+,8.1,324.0,A Hat in Time is a cute-as-heck 3D platformer ...,True,True,False,False,True,False,False,False,False
904,The Last Airbender,https://www.imdb.com/title/tt1666339/?ref_=adv...,2010.0,NaN,4.5,285.0,Action adventure platformer based on the movie...,True,True,False,False,False,True,False,False,False
1085,Treasure Planet,https://www.imdb.com/title/tt1602487/?ref_=adv...,2002.0,E,7.2,168.0,Action-adventure 3-D platformer racing game fo...,True,True,False,False,True,False,False,False,False
1813,Predator,https://www.imdb.com/title/tt0311669/?ref_=adv...,1989.0,Unrated,5.7,85.0,Action-platformer based on the movie of the sa...,True,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18761,PPL: The Animated Adventures,https://www.imdb.com/title/tt15203432/?ref_=ad...,2021.0,NaN,0.0,NaN,A challenging 2D platformer with hard boss fig...,True,False,False,False,False,True,False,False,False
19472,Demolition Man,https://www.imdb.com/title/tt6748986/?ref_=adv...,1995.0,NaN,7.5,16.0,"Acclaim's 16-bit video game for the SNES, Gene...",False,False,False,False,False,False,False,True,False
19474,Astro Bot: Rescue Mission,https://www.imdb.com/title/tt9071226/?ref_=adv...,2018.0,E10+,9.1,197.0,ASTRO BOT Rescue Mission is a brand new platfo...,False,False,False,False,False,False,False,True,False
19627,20XX,https://www.imdb.com/title/tt5862250/?ref_=adv...,2017.0,E10+,6.6,25.0,20XX is a roguelike action platformer that you...,True,True,False,False,False,False,False,True,False
19723,Creator Crate,https://www.imdb.com/title/tt11243630/?ref_=ad...,2021.0,NaN,0.0,NaN,CreatorCrate is a roguelike 2D platformer abou...,True,False,False,False,False,False,False,True,False

### 12. What is the most common certificate of games with ratings greater than 8.0 and votes greater than 1000?

In [44]:
rating_vote_games = df[(df.rating > 8.0) & (df.votes > 1000)]

duplicate_certificates = rating_vote_games.certificate.value_counts()
most_common_certificate = duplicate_certificates[duplicate_certificates == duplicate_certificates.max()]
most_common_certificate

M    363
Name: certificate, dtype: int64

### 13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

In [45]:
rating_threshold = df.rating.quantile(.75)
votes_threshold = df.votes.quantile(.75)

genres = ['Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy', 'Mystery', 'SciFi', 'Thriller']

good_games = df[ (df.rating > rating_threshold) & (df.votes > votes_threshold) ]

genre_count = {"genre":[],"count":[]}

for genre in genres:
    num_genres = len( good_games[ good_games[genre]==True])
    genre_count["genre"].append(genre)
    genre_count["count"].append(num_genres)
genre_count_df = pd.DataFrame.from_dict(genre_count)

col2 = "count"
max_count = genre_count_df.loc[genre_count_df[col2].idxmax()]
max_count

genre    Action
count      1629
Name: 0, dtype: object

### 14. What are the average ratings by year?

In [46]:
df.groupby("year").rating.mean()

year
1952.0    7.000000
1962.0    3.400000
1964.0    0.000000
1969.0    6.950000
1970.0    2.150000
            ...
2022.0    1.989336
2023.0    0.000000
2024.0    0.000000
2025.0    0.000000
2027.0    0.000000
Name: rating, Length: 61, dtype: float64

### 15. For each cerficate, what was the average rating and average number of votes?

In [47]:
certificates = ['T', 'E', 'M', 'E10+', 'Unrated', 'K-A', 'Not Rated', 'A0', 'GA', 'EC', 'CE', '12', 'PG-13', 'MA-13', 'Approved', 'G', 'MA-17', 'PG', 'TV-MA', 'Passed', 'TV-14']

for certificate in certificates:
    certificate_df = df[df.certificate == certificate]
    print(certificate, "rating average:",certificate_df.rating.mean())
    print(certificate, "vote average:",certificate_df.votes.mean())

T rating average: 6.3604284559418
T vote average: 829.0208623087622
E rating average: 5.238285144566301
E vote average: 332.32906271072153
M rating average: 6.863131868131868
M vote average: 2498.627557160048
E10+ rating average: 5.875552825552823
E10+ vote average: 520.2657657657658
Unrated rating average: 6.048132780082991
Unrated vote average: 135.97333333333333
K-A rating average: 5.765938864628821
K-A vote average: 349.32460732984293
Not Rated rating average: 4.9913043478260875
Not Rated vote average: 110.75912408759125
A0 rating average: nan
A0 vote average: nan
GA rating average: 4.773076923076923
GA vote average: 165.10526315789474
EC rating average: 1.72
EC vote average: 18.857142857142858
CE rating average: 2.123076923076923
CE vote average: 12.6
12 rating average: 6.533333333333333
12 vote average: 31.375
PG-13 rating average: 6.628571428571429
PG-13 vote average: 119.0
MA-13 rating average: 5.057142857142857
MA-13 vote average: 83.2
Approved rating average: 5.175000000000001
Approved vote average: 52.333333333333336
G rating average: 2.8
G vote average: 11.5
MA-17 rating average: 6.0
MA-17 vote average: 165.66666666666666
PG rating average: 5.933333333333334
PG vote average: 106.33333333333333
TV-MA rating average: 3.5
TV-MA vote average: 8.0
Passed rating average: 4.7
Passed vote average: 19.0
TV-14 rating average: 7.0
TV-14 vote average: 127.0